


<div
	class="col-md-12">
	<!-- general form elements -->
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Edit Setting</h3>
		</div>
		<!-- /.box-header -->
		<!-- form start -->
		<form name="setting" method="post">
						<div id="setting">
							<div>
								<label for="setting_title">Title</label><input type="text" id="setting_title" name="setting[title]" maxlength="255" value="{{setting.title}}" class="form-control"/></div>
							<div>
								<label for="setting_keywords">Keywords</label><input type="text" id="setting_keywords" name="setting[keywords]" maxlength="255" value="{{setting.keywords}}" class="form-control"/></div>
							<div>
								<label for="setting_description">Description</label><input type="text" id="setting_description" name="setting[description]" maxlength="255" value="{{setting.description}}" class="form-control"/></div>
							<div>
								<label for="setting_company">Company</label><input type="text" id="setting_company" name="setting[company]" maxlength="255" value="{{setting.company}}" class="form-control"/></div>
							<div>
								<label for="setting_address">Address</label><input type="text" id="setting_address" name="setting[address]" maxlength="255" value="{{setting.address}}" class="form-control"/></div>
							<div>
								<label for="setting_phone">Phone</label><input type="text" id="setting_phone" name="setting[phone]" maxlength="255" value="{{setting.phone}}" class="form-control"/></div>
							<div>
								<label for="setting_fax">Fax</label><input type="text" id="setting_fax" name="setting[fax]" maxlength="255" value="{{setting.fax}}" class="form-control"/></div>
							<div>
								<label for="setting_email">Email</label><input type="text" id="setting_email" name="setting[email]" maxlength="255" value="{{setting.email}}" class="form-control"/></div>
							<div>
								<label for="setting_smtpserver">Smtpserver</label><input type="text" id="setting_smtpserver" name="setting[smtpserver]" maxlength="255" value="{{setting.smtpserver}}" class="form-control"/></div>
							<div>
								<label for="setting_smtpemail">Smtpemail</label><input type="text" id="setting_smtpemail" name="setting[smtpemail]" maxlength="255" value="{{setting.smtpemail}}" class="form-control"/></div>
							<div>
								<label for="setting_smtppassword">Smtppassword</label><input type="text" id="setting_smtppassword" name="setting[smtppassword]" maxlength="255" value="{{setting.smtppassword}}" class="form-control"/></div>
							<div>
								<label for="setting_smtpport">Smtpport</label><input type="text" id="setting_smtpport" name="setting[smtpport]" maxlength="255" value="{{setting.smtpport}}" class="form-control"/></div>
							<div>
								<label for="setting_facebook">Facebook</label><input type="text" id="setting_facebook" name="setting[facebook]" maxlength="255" value="{{setting.facebook}}" class="form-control"/></div>
							<div>
								<label for="setting_instagram">Instagram</label><input type="text" id="setting_instagram" name="setting[instagram]" maxlength="255" value="{{setting.instagram}}" class="form-control"/></div>
							<div>
								<label for="setting_twitter">Twitter</label><input type="text" id="setting_twitter" name="setting[twitter]" maxlength="255" value="{{setting.twitter}}" class="form-control"/></div>
							<div>
								<label for="setting_aboutus">Aboutus</label><input type="text" id="setting_aboutus" name="setting[aboutus]" maxlength="255" value="{{setting.aboutus}}" class="form-control"/></div>
							<div>
								<label for="setting_contact">Contact</label><input type="text" id="setting_contact" name="setting[contact]" maxlength="255" value="{{setting.contact}}" class="form-control"/></div>
							<div>
								<label for="setting_reference">Reference</label><input type="text" id="setting_reference" name="setting[reference]" maxlength="255" value="{{setting.reference}}" class="form-control"/></div>
							<div>
								<label for="setting_status">Status</label><input type="text" id="setting_status" name="setting[status]" maxlength="255" value="{{setting.status}}" class="form-control"/></div>
						<button class="btn">Update</button>
					</form>


					<a href="/admin/setting/">back to list</a>
	</div>
	<!-- /.box -->
</div>
